body {
background-color: rgb(230, 230, 230);
color: rgb(30, 30, 30);
font-family: 'Lora', serif;
}
h1 {
color: #645CAA;
font-family: Courier;
font-weight: bolder;
font-size: 45px;
text-transform: uppercase;
}

h2{
	color: #A084CA;
	font-family: Courier;
	font-size: 25px;
}

a{
	text-decoration: none;
	color: #BFACE0
	font-weight: bold;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: #A084CA;
}


div{
	background: white;
	
}






